/* 
* @Author: caoke
* @Date:   2015-04-12 17:58:20
* @Last Modified by:   caoke
* @Last Modified time: 2015-04-12 17:58:42
*/

/* 字体颜色 */
.c3 {
    color: #333 !important;
}
.c6 {
    color: #666 !important;
}
.c9 {
    color: #999 !important;
}
.cc {
    color: #ccc !important;
}
.clightgreen {
    color: #88d05c !important;
}
.cgreen {
    color: #56b755 !important;
}
.cred {
    color: #f00 !important;
}
.corange {
    color: #ff9c27 !important;
}
.cwhite {
    color: #fff !important;
}
.cpink {
    color: #ff4800 !important;
}
.ccyan {
    color: #93a4bf !important;
}
.cyellow {
    color: #fc0 !important;
}
.cblue {
    color: #48c5ff !important;
}
