/*! define alinw/dialog/2.0.0/dialog-debug.css */
.kuma-dialog {
    font: 12px/1.5 tahoma, arial, "Hiragino Sans GB", \5b8b\4f53;
    background-color: #ccc;
    border: none;
    padding: 1px;
    /*FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#88000000, endColorstr=#88000000);*/
    /*padding: 6px;*/
    outline: none;
    -webkit-box-shadow: 0 1px 8px #ced1d2;
    -moz-box-shadow: 0 1px 8px #ced1d2;
    box-shadow: 0 1px 8px #ced1d2;
    /* http://ued.taobao.com/blog/2011/04/onfocus-this-blur/ */
}

.kuma-dialog-content {
    background: #fff;
}

:root .kuma-dialog {
    FILTER: none\9;
}

.kuma-dialog-close {
    color: #999;
    cursor: pointer;
    display: block;
    font-family: tahoma;
    font-size: 20px;
    /* font-weight: bold; */
    height: 18px;
    line-height: 13px;
    position: absolute;
    right: 10px;
    top: 16px;
    text-decoration: none;
    z-index: 10;
}

.kuma-dialog-close:hover {
    color: #666;
    text-shadow: 0 0 2px #aaa;
    text-decoration: none;
}

.kuma-dialog-title {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-indent: 20px;
    background: #fff url("https://i.alipayobjects.com/i/localhost/png/201403/2Iwy0TacOT.png") repeat-x bottom;
    padding-top: 11px;
    padding-bottom: 1px;
    margin-left: 10px;
    margin-right: 10px;
    height: 37px;
    line-height: 37px;
}

.kuma-dialog-container {
    padding: 15px 30px 30px 30px;
    font-size: 12px;
}

.kuma-dialog-message {
    margin-bottom: 15px;
}

.kuma-dialog-operation {
    *zoom: 1;
}

.kuma-dialog-confirm, .kuma-dialog-cancel {
    display: inline;
}

.kuma-dialog-operation .kuma-dialog-confirm {
    margin-right: 4px;
}
/**Modified by caowen for kuma success、error、info... **/
.kuma-dialog-notitle-container{padding: 20px;}
.kuma-dialog-container .kuma-icon{font-size: 24px;}
.kuma-dialog-container .kuma-icon-success{color: #88d05c;}
.kuma-dialog-container .kuma-icon-error{color: #e96553;}
.kuma-dialog-container .kuma-icon-information{color: #48c5ff;}
.kuma-dialog-container .kuma-icon-caution{color: #ff9419;}
.kuma-dialog-container .kuma-dialog-tile{font-size: 14px;margin-left: 10px;}
.kuma-dialog-container .icon-space{margin-left: 40px;}
.kuma-dialog-container .kuma-dialog-auto-close{display: inline;margin-left: 10px;}
.kuma-dialog-container .kuma-dialog-second-view{color: #dd4b39;width: 10px;display: inline-block;}

/*.kuma-pob-box{*/
/*padding: 20px 15px;*/
/*font-size: 14px;*/
/*font-weight: bold;*/
/*color: #666;*/
/*line-height: 26px;*/
/*}*/

/*.kuma-pob-box .icon{*/
/*display: inline-block;*/
/**display: inline;*/
/**zoom:1;*/
/*width: 25px;*/
/*height: 27px;*/
/*float: left;*/
/*background-image: url("https://i.alipayobjects.com/e/201402/273F9mKG7p.png");*/
/*background-repeat: no-repeat;*/
/*margin-right: 10px;*/
/*}*/

/*.kuma-pob-box .success-icon{*/
/*background-position: left -93px;*/
/*}*/

/*.kuma-pob-box .error-icon{*/
/*background-position: -50px -93px;*/
/*}*/

.no-margin-alert .kuma-dialog-container .icon-space {
    margin: 15px 0;
}
