/* 
* @Author: caoke
* @Date:   2015-04-12 21:25:54
* @Last Modified by:   caoke
* @Last Modified time: 2015-04-12 21:25:57
*/

/* 字体大小 */
.f12{
    font-size: 12px !important;
}
.f14{
    font-size: 14px !important;
}
.f16{
    font-size: 16px !important;
}
.f24 {
    font-size: 24px !important;
}
